/* * {
  outline: solid 1px #000;
} */

.hero {
    position: relative;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

.hero header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #1EA69A;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 60px;
}

.hero header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero header div img {
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 10px;
}

.hero header div p {
    color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;
}

.hero header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero header div nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 2.22vw;
}

.hero header div nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    display: inline-block;
    padding: 10px 2.22vw;
}

.hero header div nav a .hero header div nav a:focus {
    background-color: #ff872e;
    color: #1EA69A;
}

.hero header div nav a.sitaNuoroda {
    padding: 40px;
}

.hero header div button {
    margin: auto 2.22vw;
    padding: 17px 46px;
    font-size: 20px;
    background-color: #ffffff;
    color: #ff872e;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    font-family: Roboto;
}

.main {
    background-color: #1EA69A;
    padding: 0 40px;
    height: 634px;
    border-radius: 0 0 340px 0;
}

.main .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main article {
    width: 46%;
    padding: 0 30px;
    margin-left: 40px;
    border-radius: 10px;
    max-width: 70ch;
}

.main article h2 {
    font-family: Roboto;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.main article p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;
    color: #ffffff;
    opacity: 0.6;
}

.main article .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    height: 70px;
    font-family: Roboto;
}

.main article .input-group input {
    font-size: 16px;
    line-height: 19px;
    color: #3B4C68;
    padding: 26px 35% 26px 28px;
    width: 100%;
    border-radius: 10px;
    overflow: visible;
    border: none;
}

.main article .input-group button {
    width: 106px;
    height: 54px;
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    background-color: #ff872e;
    border: none;
    border-radius: 10px;
    right: 5px;
}

.main article {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.main article img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.mid h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #3B4C68;
    text-align: center;
    padding: 40px 0;
}

.mid__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mid__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 41px 30px;
    margin: 26px;
    width: 20%;
    min-width: 253px;
}

.mid__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1EA69A;
    border-radius: 5px;
    width: 47px;
    height: 44px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mid .mid--light {
    background-color: #FFFFFF;
    opacity: 0.5;
}

.mid__back {
    position: absolute;
    height: 100%;
    width: 100%;
}

.mid__head {
    text-align: left;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #3B4C68;
}

.mid__text {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #3B4C68;
    opacity: 0.6;
}

.mid .mid--green {
    background-color: #1EA69A;
    position: relative;
}

footer {
    background: green;
}